body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #0A143A
}

.container {
    max-width: 1146px;
    margin: auto;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 12px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.navbar-panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    gap: 14px;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.button-link {
    color: inherit;
}

.button-primary {
    color: white;
    background: #256eeb;
    border-radius: 5px;
}

.search-panel {
    height: 50px;
    background: #256eeb;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}

.search-input {
    flex-grow: 1;
    background: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 22px;
    padding-right: 22px;
}

.search-button {
    background: #256eeb;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}

.search-button-text {
    margin-left: 5px;
}

.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 10px;
}

.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 20px;
    margin-right: 20px;
}

.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256eeb;
    margin-top: 12px;
    margin-bottom: 5px;
}

.card-header {
    max-width: 264px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.card-link {
    text-decoration: none;
}

.card-price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}

.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin-top: 0;
    margin-bottom: 4px;
}

.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;
}

.service {
    margin-bottom: 25px;
}

.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 7px;
}

.service-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 217px;
}

.footer-text {
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin-bottom: 5px;
    display: inline-block;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}

.footer-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin-bottom: 5px;
}

.main-single {
    display: flex;
    align-items: flex-start;
}

.content {
    max-width: 460px;
    margin-right: 30px;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    width: 100%;
    border-radius: 10px;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    border-radius: 10px;
    cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.content-text {
    font-size: 14px;
    line-height: 1.4;
}

.single-price {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 25px;
    display: block;
}

.page-title {
    margin-top: 0;
    margin-bottom: 25px;
}

.author {
    min-width: 264px;
}

.author-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 30px;
}

.author-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.author-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 4px;
}

.rating {
    margin-bottom: 5px;
}

.author-status {
    font-size: 12px;
    line-height: 14px;
}

.rating-counter {
    margin-left: 10px;
    opacity: 0.5;
}

.button-block {
    display: block;
    width: 100%;
    height: 54px;
    margin-bottom: 14px;
    border: none;
}

.button-success {
    background-color: #14b4be;
    border-radius: 5px;
    color: white;
}

.menu-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: none;
}

.close-menu {
    display: none;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .card {
        width: 45%;
    }

    .card-image {
        width: 100%;
        height: 200px;
    }

    .main-single {
        flex-direction: column;
    }

    .content {
        max-width: 650px;
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }

    .card-image {
        height: 150px;
    }

    .content {
        max-width: 460px;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .mySwiper {
        height: 15%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .card {
        width: 100%;
    }

    .page-content {
        grid-template-columns: 8fr 4fr;
    }

    .menu-button {
        display: block;
    }

    .close-menu {
        display: block;
        background: none;
        border: none;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    .navbar-panel {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 9;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform .3s, opacity .3s;
        transform: translateX(100%);
        opacity: 0;
    }

    .is-open {
        transform: translateX(0%);
        opacity: 1;
    }

    .navbar-menu {
        margin-left: auto;
        margin-bottom: 20px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .button-group {
        display: flex;
        flex-direction: column;
    }

    .content {
        max-width: 360px;
        margin-right: 0;
        margin-bottom: 45px;
    }

    .sidebar a img {
        max-width: 180px;
    }

    .mySwiper {
        height: 11%;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }

    .page-content {
        grid-template-columns: 1fr;
    }

    .card {
        margin-right: 0;
    }

    .card-image {
        height: 250px;
    }

    .search-button-text {
        display: none;
    }

    .mySwiper {
        height: 16%;
    }

    .content {
        max-width: 90vw;
        margin-right: 25px;
        margin-bottom: 45px;
    }

    .author {
        width: 90%;
        margin: auto;
    }

    .sidebar {
        margin: auto;
    }

    .sidebar a {
        display: block;
        max-width: 100%;
    }

    .sidebar a img {
        min-width: 90vw;
    }
}